
section {
    position: relative;
    display: flex;
}

main {
    position: relative;
    width: inherit;
    max-height: 933px;
    display: flex;
    justify-content: flex-start;
    gap: 35px;
    margin-top: 77px;
}

.dashboard {
    max-width: 1440px;
    width: 100%;
    max-height: 1024px;
    height: 100%;
    margin: auto;
    position: relative;
}

.dashboardContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 7%;
    height: fit-content;
}

.graph {
    width: 68%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    height: fit-content;
}

.graph div {
    display: flex;
    gap: 30px;
}